<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" height="30" />
        {{else}}
            {{@blog.title}}
        {{/if}}
        </a>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
</nav>
<nav class="site-nav">
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @blog.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @blog.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
    </div>
</nav>
